@import '/src/scss/vars';

.App-container {
  background-color: $background-color-blue;
  height: fit-content;
  padding: 50px 0;

  .App-wrapper {
    width: 80%;
    margin: 0 auto;

    .Main-content {
      display: flex;
      justify-content: center;
    }
  }
}
