$font-stack: 'Open Sans', sans-serif;
$background-color-blue: #f3f7fa;
$background-color-white: #ffffff;
$text-color-dark-grey: #4a4a4a;
$color-blue: #2196f3;
$hover-color: #f1fcff;
$light-grey-text: #a0b0b9;
